.container {
  display: flex;
}

.column {
  &.left {
    flex: 1;
  }

  &.right {
    flex: 2;
  }
}

.coverArt {
  width: 100%;
  max-height: 800px;
  object-fit: contain;
}

.commaSeparatedList {
  & > li {
    display: inline;
    &::after {
      content: ', ';
    }
    &:last-child::after {
      content: '';
    }
  }
}

.error {
  color: var(--red);
  font-size: 0.8rem;
}
