.container {
  display: flex;
}

.column {
  flex: 1;
}

.cover-art {
  width: 100%;
  max-height: 800px;
  object-fit: contain;
}

.comma-separated-list {
  > li {
    display: inline;
    &::after {
      content: ', ';
    }
    &:last-child::after {
      content: '';
    }
  }
}
