:root {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

  --font-small: 0.8rem;
  --font-normal: 1rem;
  --font-large: 1.2rem;
  --font-larger: 1.6rem;
  --space-0: 0;
  --space-1: 2px;
  --space-2: 4px;
  --space-3: 8px;
  --space-4: 16px;
  --speed-0: 0s;
  --speed-1: 0.1s;
  --red: #ff6b6b;
}

.dark {
  color: var(--foreground);

  --background: #181818;
  --background-light: color-mod(#181818 tint(2%));
  --background-lighter: color-mod(#181818 tint(4%));
  --border: #282828;
  --foreground-darker: color-mod(#ccc shade(50%));
  --foreground-dark: color-mod(#ccc shade(25%));
  --foreground: #ccc;
  --foreground-light: color-mod(#ccc tint(50%));
}
