.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}

.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-15 {
  flex: 15;
}
.flex-16 {
  flex: 16;
}

:not(.flex-col).gap-0 > * + * {
  margin-left: 0;
}
:not(.flex-col).gap-1 > * + * {
  margin-left: calc(1rem * 1 / 4);
}
:not(.flex-col).gap-2 > * + * {
  margin-left: calc(1rem * 2 / 4);
}
:not(.flex-col).gap-3 > * + * {
  margin-left: calc(1rem * 3 / 4);
}
:not(.flex-col).gap-4 > * + * {
  margin-left: calc(1rem * 4 / 4);
}

.flex-col.gap-0 > * + * {
  margin-top: 0;
}
.flex-col.gap-1 > * + * {
  margin-top: calc(1rem * 1 / 4);
}
.flex-col.gap-2 > * + * {
  margin-top: calc(1rem * 2 / 4);
}
.flex-col.gap-3 > * + * {
  margin-top: calc(1rem * 3 / 4);
}
.flex-col.gap-4 > * + * {
  margin-top: calc(1rem * 4 / 4);
}
