/* :root {
  --break-sm: 640px;
  --break-md: 768px;
  --break-lg: 1024px;
  --break-xl: 1280px;
  --break-2xl: 1536px;
} */

.w-screen {
  width: 100vw;
}
.h-screen {
  height: 100vh;
}

.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}

.max-w-screen-2xl {
  max-width: 1536px;
}
