.num {
  flex: 1;
  color: var(--foreground-darker);
  transition: color var(--speed-1);
}

.title {
  flex: 15;
  transition: color var(--speed-1);
}

.duration {
  flex: 1;
  color: var(--foreground-darker);
  text-align: right;
  transition: color var(--speed-1);
}

.container {
  display: flex;
  padding: var(--space-3);
  border-bottom: 1px solid var(--border);
  transition: background var(--speed-1);

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background: var(--background-lighter);

    & .num,
    & .duration {
      color: var(--foreground-dark);
    }

    & .title {
      color: var(--foreground-light);
    }
  }
}
